* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    background-color: black;
    color: white;
}
h2 {
    background-color: purple;
    color: white;
    font-style: italic;
    text-align: center;
}
.container {
    font-family: sans-serif;
}
.cloud{
    color: aqua;
}
h3{
    font-size: 16px;
    text-align: right;
    background-color: lightskyblue;
    color: black;
    text-decoration: underline;
}
h1,
h2,
h3 {
    padding: 6px;
    margin: 6px;
}
